* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: sans-serif;
    background-color: #faebd7;
    margin: 0;
}
.brand {
    margin-left: 32px;
    color: #ffe4c4;
}
.brand h1 {
    font-weight: 400;
    font-size: 2rem;
}
.brand .model {
    font-size: 1rem;
    font-style: italic;
}
.brand .orange {
    color: #f35d36;
}

.calculator {
    width: 300px;
    min-height: auto;
    background-color: #edede7;
    margin: 100px auto 15px auto;
    overflow: auto;
    border-radius: 5px;
    border-bottom: 2px solid rgba(51, 51, 51, 0.745);
    -webkit-box-shadow: 0px 4px 45px -11px rgba(3,3,3,1);
    -moz-box-shadow: 0px 4px 45px -11px rgba(3,3,3,1);
    box-shadow: 0px 4px 45px -11px rgba(3,3,3,1);
}